.product-item {
  text-decoration: none;
  display: flex;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
}
.product-item:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  z-index: 1;
}
.style-item {
  display: flex;
  padding: 12px 16px;
  color: rgb(36, 36, 36);
  text-decoration: none;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.style-item .thumbnail {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin: 0px 12px;
  text-align: center;
}
.style-item .badge-top {
  position: absolute;
  z-index: 2;
}
.style-item img {
  max-width: 100%;
}
.style-item .badge-service {
  margin-bottom: 8px;
  margin-top: 12px;
}
.style-item .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.style-item .name span {
  font-size: 12px;
  font-weight: 400;
  margin: 0px 0px 4px;
  line-height: 20px;
}

.style-item .price-discount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
}
.style-item .price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin: 0px 8px 0px 0px;
}
.style-item .price-discount-rate {
  font-size: 13px;
  line-height: 20px;
  border-radius: 2px;
  background: rgb(255, 66, 78);
  color: white;
  padding: 0px 2px;
}
